.postContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBar{
  display: flex;
  justify-content: left; 
  align-items: center;
}

.userBar > img{
  width: 30px;
  border-radius: 50%;
  padding: 10px;
}

.userBar > div{
  font-weight: bold;
}

.likeCount{
  margin: 10px 0px;
}

.postPhoto > img{
  object-fit: cover;
  width: 350px;
  height: 400px;
}

.likeAndComment > img{
  padding-right: 10px;
}

.reactionBox{
  padding-left: 10px;
}

.commentlist ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.timeStamp{
  color: gray;
  margin: 10px 0px;
  font-size: 10px;
}