.profileContainer{
  margin
}
.profileBar{
  display: flex;
  justify-content: left; 
}

.profileBar > img{
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}

.posts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.profileDetail{
  margin: 0px;
  border-bottom : 1px solid #dbdbdb;
  padding: 10px;
}

.profileStatus{
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0px;
}

.statusItem{
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusItem > p{
  margin: 0px;
  color: gray;
}

